/*==============
  GLobal Css
===============*/
*{
  box-sizing: border-box;
	margin:0;
  padding:0;
  text-decoration: none;
}
body{
	margin:0;
	padding:0;
}
img{
  width:100%;
  max-height:660px;
}

h3{
    border-radius:10px;
	border: 1px solid red;
	background:red;
}
section{
	padding:100px 0;
}
.container{
	width:80%;
	margin:0 auto;
}
/*==============
  Banner-Area
===============*/
.banner{
  position:relative;
  z-index:1000;
}
.banner-container{
  width:100%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  color:#fff;
  text-align:center;
}
.banner-container .inner-heading{
   font-weight: 700; 
   font-size:450%;
}
.banner-container .sub-heading{
  font-weight:400;
  font-size:250%;
}
.banner-container .btn{
  margin-top:40px;
  font-size: 22px;
  border-radius:5px;
}
#outbox{
  width: 400px;
  text-align: center;
}

#date {
  font-weight: 300;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

/*------------------
  Slideshow-area
-------------------*/
#content{
  padding:100px 0 100px;
}
.carousel{
	margin:0;
	width:100%;
}
#outside-container{
	border:1px solid #333;
	width:80%;
}
.carousel h2{
	padding:200px 0;
	font-size:580%;
}
.inner{
	padding:30px 0;
}
.inner img{
	width:80%;
	margin:0 auto;
}
/*===============
  Deals-Area
=================*/
#deals{
  padding:100px 0 100px;
}
#deals .container{
  border:1px solid #222222;
  padding:35px;
}
#deals img{
  border-radius: 50%;
  padding:10px;
  height:150px;
  width:150px;
  border:1px solid #222222;
}


#deals .modal img {
  width:150px;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  height: 250px;
  max-width: 80%;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}


.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}




/*----------------
  Ecommerce-Content
-------------------*/

#Ecommerce_Content{
	padding:100px 0;
}
#Ecommerce_Content .sc-item-img{
	box-shadow:0 0 10px #252525;
	margin-bottom:20px;
}

/*=================
   Specials-area
==================*/
.products-header{
  color:red;
  text-transform: uppercase;
}

#specials .products{
	box-shadow:0 0 10px #252525;
}
#specials h3{
	text-align:center;
}
/*===============
   Products-area
==================*/
#products{
  background-image:url('../images/bg-products.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-box{
  margin:0 auto;
  width:100%;
  text-align: center;
}
.box{
  min-height:280px;
  padding:10px;
  border:1px solid #222222;
  background: #f2f2f3;
}
.second-text {
  display: block;
}


/*===============
  Selector
=================*/
.widget{
  width:100%;
  margin:2em;
}
.widget p{
  display:inline-block;
  line-height: 1em;
}

.time{
 font-family: Oswald, Arial;
 text-align: center;
 font-size: 1.5em;
 margin-bottom:0.3125rem;
 background: rgba(0,0,0,.5);
 padding:20px;
 width:100%;
}

.clock{
  font-family: Oswald, Arial;
  width:100%;
  padding:20px;
  font-size:4em;
  text-align:center;
  background:rgba(0,0,0,.5);
}
.clock .seconds-box{
  display:inline-block;
}
.clock .seconds,
.clock .ampm{
  font-size:2rem;
  display:block;
}
#select{
   padding:100px 0 100px;
   background:url('../images/bgcolor.png');
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
}

.label{
  color:#000;
  font-size:25px;
  margin:10px;
}
.photo{
  border:6px groove;
  width:200px;
  position:absolute;
  top:40px;
  left:20px;
}
.elements-container span{
  padding:5px;
  background-color:steelblue;
  color:white;
  border-radius:10px 15px;
  border:2px dotted blue;
  cursor:pointer;
}
.elements-container{
  padding:5px;
}

/*-----------------
  Contact-area
-------------------*/
.contact{
	background:#333;
	color:#fff;
}

section.cta {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../images/bg-cta.jpg');
  padding: 250px 0;
}
section.cta .cta-content {
  position: relative;
  z-index: 1;
}
section.cta .cta-content h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
  max-width: 450px;
  font-size: 50px;
}
@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}
section.cta .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
/*-------------
Contact Area 
--------------*/
.contact-area{
	text-align:center;
}
.contact-area h2{
	margin-top:0;
	margin-bottom:25px;
}
.contact-area h2 i{
	color:#dd4b39;
}
.contact-area ul.list-social{
	margin-bottom:0;
}
.contact-area ul.list-social li a{
	display:block;
	height:80px;
	width:80px;
	line-height:80px;
	font-size:40px;
	border-radius:100%;
	color:white;
}
.contact-area ul.list-social li.social-twitter a{
	background-color:#1da1f2;
}
.contact-area ul.list-social li.social-twitter a:hover{
	background-color:#0d95e8;
}
.contact-area ul.list-social li.social-facebook a{
	background-color:#3b5998;
}
.contact-area ul.list-social li.social-facebook a:hover{
	background-color:#344e86;
}
.contact-area ul.list-social li.social-google-plus a{
	background-color:#dd4b39;
}
.contact-area ul.list-social li.social-google-plus a:hover{
	background-color:#d73925;
}


/*-------------
Footer area
---------------*/ 
footer{
	background-color:#222222;
	padding:25px 0;
	text-align:center;
	color:rgba(255,255,255,0.3);
} 
footer p{
	font-size:12px;
	margin:0;
}
footer ul{
	margin-bottom:0;
}
footer ul li a{
     color:rgba(255,255,255,0.3);
	 font-size:12px;
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active,
footer ul li a.active{
	text-decoration:none;
}